h1,h2,h3,h3,h4,h5,h6{font-weight: normal;}
body{color: #8f8f8f;background-color: #fff;font-size: 12px;font-family:"微软雅黑";line-height: 1;min-width: 1200px;}
input[type="button"],input[type="submit"],input[type="reset"],button{outline: 0;
    -webkit-appearance: none;
}
input,textarea,select,button{font-size: 12px;color: #444;
    font-family:"微软雅黑","Microsoft Yahei";outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    color: #989898;
}
a:hover{
    color: #1f2d48;
}

.nav a,img,.m-news .item .txt a,.m-news .item .bor,.m-news .slick-prev,.m-news .slick-next,.img-xtxt .g-btn,.img-xtxt,.img-xtxt .img img
,.l-m3 a,.l-slider .slick-prev,.l-slider .slick-next{
        transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}

img{max-width: 100%;
}
.wp{
    width: 1212px;
    margin: 0 auto;
}


/*内页外框*/
.m-content{
    padding:0 70px;
}


/*首页*/
.header {
   height: 99px;overflow: hidden;
}
.header .wp{width: 1165px;}
.logo{
    line-height: 99px;
    float: left;
}
.logo img{
    display: inline-block;
    vertical-align: middle;
}
.header .hdr{
    float: right;
}
.nav{float: left;}
.nav li{float: left;margin-right: 75px;line-height: 99px;}
.nav li a{display: block;font-size: 16px;color: #8f8f8f;font-weight: bold;}
.nav li.on a,.nav li:hover a{color: #00608d;}


.so{
    margin-top: 32px;
    float: right;
    width: 154px;
    height: 34px;
    border-radius: 2px;
    border: 1px solid #00608d;
}
.so input{
    float: left;font-size: 14px;
}
.so input::-webkit-input-placeholder {color: #c5c5c5;}
.so input::-moz-placeholder {color: #c5c5c5; }
.so input::-ms-input-placeholder {color: #c5c5c5;}

.so .inp{
    width: 110px;
    line-height: 34px;
    height: 34px;
    padding-left: 10px;
    border:none;float: left;
}
.so .btn{
    width: 34px;
    height: 34px;
    background: url(../images/q-sousuo.png) no-repeat center center;
    border:none;float: right;
    cursor: pointer;
}
.banner{height: 610px;overflow: hidden;}
.banner .slick-slider,.banner .slick-list,.banner .slick-track,.banner .slick-slide{height: 100%;}
.banner a{
    display: block;height: 100%;outline: 0;
    background-position: center center;
    background-repeat: no-repeat;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.banner .slick-slide{position: relative;}

.banner .slick-dots{position: absolute;left: 0;right: 0;bottom: 16px;z-index: 99;text-align: center;}
.banner .slick-dots li{display: inline-block;margin: 0 4px;}
.banner .slick-dots li button{display: block;width: 10px;height: 10px;padding: 0;
    font-size: 0;line-height: 0;text-indent: 999px;border-radius: 10px;cursor: pointer;
    background: rgba(0,0,0,.35);border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.banner .slick-dots li.slick-active button{background: #fff;}



.g-tit{
    *zoom:1;
    line-height: 41px;
    border-bottom: 1px solid #e5e5e5;
}
.g-tit:after,.g-tit:before{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden; }
.g-tit span{float: left;font-size: 18px;color: #00608d;font-weight: bold;
    border-bottom: 3px solid #00608d;line-height: 38px;padding-bottom: 2px;
}
.g-tit em{float: left;font-size: 14px;text-transform: capitalize;margin-left: 23px;color: #8f8f8f;padding-bottom: 2px;}


.row1{
    overflow: hidden;
    background: url(../images/q2.jpeg) no-repeat center top #fbfbfb;
    background-attachment: fixed;
    margin-bottom: 60px;
}
.row1 .g-tit {
    margin: 35px 0 174px;
}

.row1 .pic {
    float: left;
    width:40%;
    background: url(../images/q9.jpg) no-repeat left center;
    background-size: cover;
    position: relative;
    padding-top: 33%;
    min-height: 400px;
    box-sizing: border-box;
}
.row1 .txt {
    float: left;
}

.ul-icoli li{
    position: relative;

}
.ul-icoli img{
    position: absolute;
    left: -88px;
    top: -14px;
}

.row1 .txt{
    float: left;
    padding:3% 0 0 60px;
    background: #f8f8f8;
}
.row1 .txt h3{
    font-size: 24px;
    color: #1f2d48;
    line-height: 1.6em;
    margin-bottom: 42px;
    overflow: hidden;
}
.row1 .txt p{
    font-size: 14px;
    overflow: hidden;
    line-height: 24px;
    margin-bottom: 50px;
    color:#8f8f8f;
}

.footer{
    /*height: 358px;*/
    background-color: #1f2d48;
    padding-bottom: 64px;
}
.fd-logo{
    width: 127px;
    height: 34px;
    margin: 0 auto;
    padding-top: 64px;
}

.fd-fx a{width: 45px;height: 45px;display: inline-block;margin: 0 40px;
    background-position: center center;background-repeat: no-repeat;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
.fd-fx .btn-weixin{background-image: url(../images/ico-weixin.png);}
.fd-fx .btn-sina{background-image: url(../images/ico-sina.png);}
.fd-fx a:hover{
    opacity: .5;
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity= 50)';
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 50);
}
.fd-fx .item{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 50px;
}
.fd-fx .item p {
    color: #d6d6d6;
    margin-top: 8px;
}
.fd-fx .item .app {
    width: 92px;
    height: 92px;
    padding: 4px;
    background-color: #fff;
}

.fd-fx{
    margin-top: 55px;
    text-align: center;
}
.footer-copy{
    margin-top: 50px;
    line-height: 24px;
    text-align: center;
    font-size: 13px;
    color: #d6d6d6;
    letter-spacing: 2px;
}

/*小轮播*/
/*.m-news{background: #fbfbfb;position: relative;}*/
.row0{position: relative;padding: 60px 0 75px;overflow: hidden;}
.row0 .g-tit{margin: 0 0 60px;position: relative;z-index: 1;}
.m-news .item{overflow: hidden;outline: 0;}
.ul-bg{overflow: hidden;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.ul-bg li{width: 33.33%;float: left;height: 100%;
    background-position: center center;background-repeat: no-repeat;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.m-news .item .pic{
    margin:0 91px;
}

.m-news .item .pic a{
    display: block;
    position: relative;
    padding-top: 66.73%;
    height: 0;
    outline: none;
}
.m-news .item .pic img{position: absolute;top: 0;bottom: 0;left: 0;}
.m-news .item .bor{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    border: 1px solid #fff;
}
.m-news .item .bor:after{content: '';height: 43px;width: 1px;position: absolute;
    left: 50%;bottom: -43px;background-color: #00608d;
}
.m-news .slick-arrow{
    outline:0;
    border: 0;
    font-size: 0;
    -webkit-appearance: none;       
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.m-news .slick-prev{
    position: absolute;
    background: url(../images/prev.png) no-repeat center center;
    left: 20px;
    top: 25%;
    width: 33px;
    height: 62px;
    display: block;
    z-index: 999;
}
.m-news .slick-next{
    position: absolute;
    background: url(../images/next.png) no-repeat center center;   
    right: 20px;
    top:25%;
    width: 33px;
    height: 62px;
    display: block;
}
.m-news .slick-prev:hover,.m-news .slick-next:hover { opacity: 0.5; }
.m-news .item .txt h4{
    font-size: 24px;
    text-align: center;
    color: #1f2d48;
    margin-top: 50px;
}
.m-news .item .txt p{
    font-size: 14px;
    color: #8f8f8f;
    text-align:center;
    margin-top: 23px;
    line-height: 26px;
}
.m-news .item .txt a,.g-btn{
    display: block;
    height: 42px;
    border: 1px solid #00608d;
    width: 160px;
    margin: 0 auto;
    border-radius: 22px;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    color: #00608d;
    margin-top: 40px;
}

.m-news .item .txt a:hover,.g-btn:hover{
    background: #00608d;
    color:#fff;
}

.m-news .item:hover .bor{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}